[libdefaults]
	default_realm = {{ org_domain | upper }}
	allow_weak_crypto = false
	allow-anonymous = false
[domain_realm]
	.{{ org_domain }} = {{ org_domain | upper }}
[logging]
        default = 0/SYSLOG:CRIT
	default = 1/SYSLOG:ERR
	default = 2/SYSLOG:WARNING
	default = 3/SYSLOG:INFO
	default = 4-/SYSLOG:DEBUG
