[libdefaults]
	default_realm = EMPT.SIVA
	allow_weak_crypto = false
	tgt-use-strongest-session-key = true
	svc-use-strongest-session-key = true
	preauth-use-strongest-session-key = true
[realms]
	EMPT.SIVA = {
		kdc = kerberos.empt.siva
	}
[domain_realm]
	.empt.siva = EMPT.SIVA
