[libdefaults]
	default_realm = {{ org_domain | upper }}
	allow_weak_crypto = false
	tgt-use-strongest-session-key = true
	svc-use-strongest-session-key = true
	preauth-use-strongest-session-key = true
[realms]
	{{ org_domain | upper }} = {
		kdc = kerberos.{{ org_domain }}
	}
[domain_realm]
	.{{ org_domain }} = {{ org_domain | upper }}
