[global]
	log level = 1
	logging = syslog

	map to guest = never

	server role = standalone

	kerberos encryption types = strong
	kerberos method = dedicated keytab
	dedicated keytab file = /usr/local/etc/krb5.keytab

	realm = {{ org_domain | upper }}
	# TODO see if a different workgroup name is necessary
	workgroup = EMPT
	disable netbios = yes

	client use kerberos = required
	ntlm auth = disabled

	vfs objects = zfsacl
[homes]
	read only = no
	inherit permissions = yes
