HostKey /etc/ssh/ssh_host_ed25519_key
PermitRootLogin no
AuthorizedKeysFile .ssh/authorized_keys
PrintMotd no

Subsystem sftp /usr/libexec/sftp-server

{% if responsibility == "primary" %}
Match Host jailhost-secondary.home.arpa
{% else %}
Match Host jailhost-primary.home.arpa
{% endif %}
	PermitRootLogin prohibit-password

# TODO do we need this?
#HostbasedAuthentication no
#IgnoreUserKnownHosts no

# TODO disable once everything is figured out
PasswordAuthentication yes
