# Device        Mountpoint        FStype        Options        Dump        Pass#
/usr/local/poudriere_repo	/usr/jail/guests/{{ hostvars[jail].inventory_hostname_short }}/usr/local/poudriere_repo	nullfs	ro	0	0
