# TODO use scope identifier instead of scope index
{% for jail in groups['jails'] %}
fe80:2::eeee:{{ hostvars[jail].jid }} {{ jail }}.{{ org_domain }} {{ jail }}.home.arpa {{ jail }}
{% endfor %}

fe80:2::eeee:{{ jid }} {{ inventory_hostname }}.{{ org_domain }} {{ inventory_hostname }}.home.arpa {{ inventory_hostname }} localhost
