{{ ansible_host }}	{{ fqdn }} {{ inventory_hostname }}.home.arpa localhost

{% for host in groups['all'] %}
{{ hostvars[host].ansible_host }}	{{ fqdn }} {{ hostvars[host].inventory_hostname }}.home.arpa
{% endfor %}
