[libdefaults]
	default_realm = {{ org_domain | upper }}
	allow_weak_crypto = false
	allow-anonymous = false
[domain_realm]
	.{{ org_domain }} = {{ org_domain | upper }}
[logging]
        libkrb5 = 0-/SYSLOG:
        kdc = 0-/SYSLOG:
