$ORIGIN {{ org_domain }}.
$TTL 1m

@ IN SOA dns postmaster (
  1 ; serial
  4h ; refresh
  15m ; retry
  8h ; expire
  4m ) ; negative caching TTL

  IN NS dns
  MX 10 mail

{% for jail in groups['jails'] %}
{{ hostvars[jail].inventory_hostname }} IN A {{ ipv4_prefix }}.20{{ hostvars[jail].jid }}
{{ hostvars[jail].inventory_hostname }} IN AAAA {{ ula_prefix }}::eeee:{{ hostvars[jail].jid }}
{% endfor %}

; kerberos automatic discovery
_kerberos._udp IN SRV 01 00 88 kerberos.{{ org_domain }}.
_kerberos._tcp IN SRV 01 00 88 kerberos.{{ org_domain }}.
_kpasswd._udp IN SRV 01 00 464 kerberos.{{ org_domain }}.
_kerberos-adm._tcp IN SRV 01 00 749 kerberos.{{ org_domain }}.
_kerberos IN TXT {{ org_domain | upper }}
