$TTL 1m

@ IN SOA {{ inventory_hostname }}.{{ org_domain }}. postmaster.{{ org_domain }}. (
  1 ; serial
  4h ; refresh
  15m ; retry
  8h ; expire
  4m ) ; negative caching TTL

  IN NS {{ inventory_hostname }}.{{ org_domain }}.

{% for jail in groups['jails'] %}
{{ ("%s::eeee:%d" | format(ula_prefix, hostvars[jail].jid) | ansible.utils.ipaddr('revdns'))[:20 * 2 - 1] }} IN PTR {{ jail }}.{{ org_domain }}.
{% endfor %}
