$TTL    1m

@	IN	SOA	{{ ansible_fqdn }}.	postmaster.{{ ansible_domain }}. (
				1	; serial
				4h	; refresh
				15m	; retry
				8h	; expire
				4m )	; negative caching TTL

		IN	NS	{{ ansible_fqdn }}.

{% for jail in groups['jails'] %}
{{ hostvars[jail].ansible_host | ansible.utils.ipaddr('revdns') }} IN PTR {{ hostvars[jail].ansible_fqdn }}
{% endfor %}

{{ hostvars['jailhost'].ansible_host | ansible.utils.ipaddr('revdns') }} IN PTR {{ hostvars['jailhost'].ansible_fqdn }}
