mount.devfs;

# Needed for ping, traceroute, etc.
allow.raw_sockets;

# Maintain a clean ENV before starting each jail
exec.clean;

# Set timeouts to avoid startup/shutdown scripts running forever
exec.timeout = 30;
stop.timeout = 30;

path = "/empt/jails/${name}";

host.hostname = "${name}.{{ org_domain }}";

# TODO find a way to programmatically find home LAN IPv6 ULA prefix
# hardcoding it for now
ip6.addr = "re0|fdef:eabc:6355::${ip_auto_id}/64";

# TODO figure out a way to generate loopback ipv6. Not strictly necessary right now.
#ip6.addr = "lo0|fe80:2::${ip_auto_id}/64";

# TODO temporary so that I can work away from home through wireguard VPN
ip4.addr = "wg0|10.29.222.${ip_auto_id}/24";

# TODO waiting on resolution of FreeBSD bug 271069
# See:
# * https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=271069
# * https://dan.langille.org/2023/03/10/is-your-jail-not-getting-an-ipv6-address-soon-enough-blame-dad/
#exec.start = "/bin/sh /etc/rc";
exec.start = "/bin/sleep 5";
exec.start += "/bin/sh /etc/rc";

exec.stop = "/bin/sh /etc/rc.shutdown";

# Common fstab to share /usr/ports at a minimum
mount.fstab = "/etc/jail_fstabs/${name}.fstab";

{% for jail in groups['jails'] %}
{{ jail }} {
	ip_auto_id = {{ loop.index + 10 }};
}

{% endfor %}
