mount.devfs;

# Needed for ping, traceroute, etc.
allow.raw_sockets;

# Maintain a clean ENV before starting each jail
exec.clean;

# Set timeouts to avoid startup/shutdown scripts running forever
exec.timeout = 30;
stop.timeout = 30;

path = "/empt/jails/${name}";

host.hostname = "${name}.{{ org_domain }}";

# TODO figure out a way to generate loopback ipv6. Not strictly necessary right now.
#ip6.addr = "lo0|fe80:2::${ip_auto_id}/64";

# Using this default for complete system jail, override if single service
exec.start = "/bin/sh /etc/rc";
exec.stop = "/bin/sh /etc/rc.shutdown";

# Common fstab to share /usr/ports at a minimum
mount.fstab = "/etc/jail_fstabs/${name}.fstab";

{% for jail in groups['jails'] %}
{{ jail }} {
	ip6.addr = "re0|{{ hostvars[jail].ansible_host }}/64";
}

{% endfor %}
