hostname="{{ inventory_hostname }}.{{ org_domain }}"

dhcpcd_enable="YES"

ntpd_enable="YES"
ntpdate_enable="YES"
powerd_enable="YES"
sshd_enable="YES"
zfs_enable="YES"

dumpdev="AUTO"

syslogd_enable="YES"
syslogd_flags="-8 -O syslog -N -s -s"

nfs_server_enable="YES"
nfsv4_server_enable="YES"
nfsuserd_enable="YES"
nfsuserd_flags="-verbose"
gssd_enable="YES"
gssd_flags="-h"
