hostname="{{ fqdn }}"

ifconfig_re0="DHCP"
ifconfig_re0_ipv6="inet6 accept_rtadv"

ntpd_enable="YES"
ntpdate_enable="YES"
powerd_enable="YES"
sshd_enable="YES"

dumpdev="AUTO"
zfs_enable="YES"

sendmail_enable="NO"
sendmail_msp_queue_enable="NO"
sendmail_outbound_enable="NO"
sendmail_submit_enable="NO"

syslogd_enable="YES"
syslogd_flags="-8 -O syslog -N -s -s"

nfs_server_enable="YES"
nfsv4_server_enable="YES"
nfsuserd_enable="YES"
nfsuserd_flags="-verbose"
gssd_enable="YES"
gssd_flags="-h"
