{
    "CR:addressbook-description": "{{ human.fullname }}'s work address book",
    "D:displayname": "contacts",
    "tag": "VADDRESSBOOK",
    "{http://inf-it.com/ns/ab/}addressbook-color": "#{{ lookup('community.general.random_string', length=6, override_all='0123456789abcdef') }}ff"
}
