{
    "C:calendar-description": "{{ human.fullname }}'s work calendar",
    "C:supported-calendar-component-set": "VEVENT",
    "D:displayname": "calendar",
    "ICAL:calendar-color": "#{{ lookup('community.general.random_string', length=6, override_all='0123456789abcdef') }}ff",
    "tag": "VCALENDAR"
}
