# The pathname of the IMAP configuration directory
#
configdirectory: /var/db/cyrusimap

# The directory for the different partitions
#
partition-default: /var/spool/cyrusimap

# The mechanism used by the server to verify plaintext passwords.  Possible
# values include "auxprop" or "saslauthd"
#
sasl_pwcheck_method: auxprop saslauthd

# Allow PLAIN auth over trusted imap insecure port
allowplaintext: 1

# If set to a value of zero or higher, users have their INBOX folders
# created upon a successful login event or upon lmtpd(8) message
# delivery if autocreate_post is enabled, provided their INBOX did
# not yet already exist.
#
# The user's quota is set to the value if it is greater than zero,
# otherwise the user has unlimited quota.
#
# Note that quota is specified in kilobytes.
#
autocreate_quota: 0
autocreate_post: 1

httpmodules: admin caldav carddav freebusy ischedule
virtdomains: userid
defaultdomain: {{ org_domain }}

# File containing the global certificate used for ALL services (imap,
# pop3, lmtp).
#
tls_server_cert: /etc/ssl/{{ inventory_hostname }}.crt.pem

# File containing the private key belonging to the global server
# certificate.
#
tls_server_key: /etc/ssl/{{ inventory_hostname }}.key.pem

# Unix domain socket that lmtpd listens on, used by deliver(8).
#
lmtpsocket: /var/run/cyrusimap/lmtp.sock

# Unix domain socket that idled listens on.
#
idlesocket: /var/run/cyrusimap/idle.sock

# Unix domain socket that the new mail notification daemon listens on.
#
notifysocket: /var/run/cyrusimap/notify.sock
