mail {
    jid = {{ hostvars['mail'].jid }};
    ip4.addr = "re0|{{ ipv4_prefix }}.20${jid}/32";
    ip6.addr += "re0|{{ ula_prefix }}::eeee:${jid}/128";

    # TODO when rc starts in this jail, it checks dovecot's configuration with
    # `doveconf -a`. Doveconf seems to forcibly run a broadcast check on 0.0.0.0 for
    # something and stalls for quite a long time. This doesn't work well with two
    # hosts in CARP configuration. File a bug for this.
    # NOTE reenable this if testing CARP + HAST
    #exec.timeout = 120;
    #stop.timeout = 120;
}
