$TTL    1m

@	IN	SOA	dns.empt.siva.	postmaster.empt.siva. (
				1	; serial
				4h	; refresh
				15m	; retry
				8h	; expire
				4m )	; negative caching TTL

		IN	NS	dns.empt.siva.

{% for jail in groups['jails'] %}
{{ hostvars[jail].ansible_host | ansible.utils.ipaddr('revdns') }} IN PTR {{ hostvars[jail].inventory_hostname }}
{% endfor %}

{{ hostvars['jailhost.empt.siva'].ansible_host | ansible.utils.ipaddr('revdns') }} IN PTR {{ hostvars['jailhost.empt.siva'].inventory_hostname }}
