{
    "C:calendar-description": "{{ human.fullname }}'s to-do list",
    "C:supported-calendar-component-set": "VTODO",
    "D:displayname": "todo",
    "ICAL:calendar-color": "#{{ lookup('community.general.random_string', length=6, override_all='0123456789abcdef') }}ff",
    "tag": "VCALENDAR"
}
