SPOOLDIR='/var/spool/mlmmj/{{ org_domain }}'
LISTNAME='{{ mailing_list.name }}'
FQDN='{{ org_domain }}'
OWNER='postmaster@{{ org_domain }}'
TEXTLANG='en'
ADDALIAS='n'
DO_CHOWN='n'
CHOWN=''
ADDCRON='n'
