SPOOLDIR='/var/spool/mlmmj/{{ ansible_domain }}'
LISTNAME='{{ setup_jail_mail_mailinglist.name }}'
FQDN='{{ ansible_domain }}'
OWNER='postmaster@{{ ansible_domain }}'
TEXTLANG='en'
ADDALIAS='n'
DO_CHOWN='n'
CHOWN=''
ADDCRON='n'
