# logfilename    [owner:group]    mode    count    size    when    flags    [/pid_file]    [sig_num]
{% for j in all_jails %}
/var/log/{{ j.name }}.empt.siva.log    600    7    *    @T00    CJTY
{% endfor %}
