#!/bin/sh

pif=re0

ipfw -f flush

ipfw disable one_pass
ipfw nat 1 config if "${pif}" same_ports reset \
  redirect_port tcp 127.1.1.3:25 25 \
  redirect_port tcp 127.1.1.3:465 465 \
  redirect_port tcp 127.1.1.3:993 993 \
  redirect_port tcp 127.1.1.6:443 443 \
  redirect_port tcp 127.1.1.7:80 80

ipfw add 005 allow ipv6 from any to any               # allow all IPv6 traffic
ipfw add 010 allow all from any to any via lo0        # exclude loopback traffic
ipfw add 099 reass all from any to any in             # reassemble inbound packets
ipfw add 100 nat 1 all from any to any via "${pif}"   # NAT any packets on the public interface

ipfw add 999 allow all from any to any
#ipfw add 999 deny log all from any to any
